/* @import url('assets/font/Hurme_Geometric_Sans_No.Font_Family/HGSFF/Hurme\ Geometric\ Sans\ No.1/'); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background: #1a1627;
  font-family: "Montserrat", sans-serif;
  margin: 0%;
  overflow-x: hidden;
}

html,
body {
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.preloaderGif {
  width: 20vw;
  z-index: 999999;
}
#mainPreloader {
  padding-top: 30vh;
  text-align: center;
  z-index: 9999;
  height: 100vh;
}
.container {
  width: 70%;
  margin: 150px auto;
}

.toggle-inner p {
  color: #b7b1d5;
}

.toggle .toggle-title {
  position: relative;
  display: block;
  color: #fff;
  border-top: 1px solid #302a52;
  margin-bottom: 6px;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.toggle .toggle-title h3 {
  font-size: 20px;
  margin: 0px;
  line-height: 1;
  cursor: pointer;
  font-weight: 200;
}

.toggle .toggle-inner {
  padding: 7px 25px 10px 25px;
  display: none;
  margin: -7px 0 6px;
}

.toggle .toggle-inner div {
  max-width: 100%;
}

.toggle .toggle-title .title-name {
  display: block;
  padding: 40px 25px 40px;
}

.toggle .toggle-title a i {
  font-size: 22px;
  margin-right: 5px;
}

.toggle .toggle-title i {
  position: absolute;
  background: url("./assets/plus-circle.svg");
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
  margin: 20px 5px 20px 20px;
  right: 0;
}

.toggle-title i ::after {
  content: url("./assets/plus-circle.svg");
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.toggle .toggle-title.active i {
  background: url("./assets/minus-circle.svg") 0px 0px no-repeat;
}

.qnatab-container {
  margin-top: 10vh;
}

.qnatab-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  /*flex-wrap: wrap;*/
}

.qnatab-menu ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0px;
  margin-bottom: 7rem;
  width: 40vw;
}

.text {
  margin-top: 5px;
}
.logo_name {
  padding-top: -5px;
}
.qnatab-menu ul li a {
  text-decoration: none;
  color: white;
  background-color: #262145;
  padding: 3rem;
  border-radius: 4px;
  cursor: pointer;
}

.qnatab-menu ul li div {
  text-decoration: none;
  color: #b7b1d5;
  background-color: #262145;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 1vw 2vw;
}

.tab_text {
  text-align: center;
  margin-bottom: 2vw;
}

.tab_img {
  align-self: center;
  margin-top: 20px;
  margin-bottom: -1vw;
}

.qnatab-menu ul li div.active-a {
  border-radius: 5px;
  border-color: #ff5d86;
  border-style: solid;
  border-width: 2px;
}
.qnatab-a.active-a div {
  color: #fff;
}

.qnatab {
  display: none;
}

.qnatab h2 {
  color: rgba(0, 0, 0, 0.7);
}

.qnatab p {
  text-align: justify;
}

.qnatab-active {
  display: block;
  line-height: 28px;
}

.mobnav {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  /* margin: 1vw 4vw 0 4vw; */
  margin: 0 auto;
  padding: 1vw;
  align-items: center;
  /* margin-top: none; */
}

.navlinks {
  margin-left: 20px;
}

.logo img {
  width: 80px;
}
.navbtn li {
  list-style: none;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  margin-right: 2rem;
}

a {
  text-decoration: none;
}

ul li a {
  color: #fff;
  font-weight: 400;
}

ul li a:hover {
  color: #775dff;
}

.logo_and_text {
  display: flex;
  color: #fff;
  justify-content: space-around;
}
.logo_and_text1 {
  display: flex;
  color: #fff;
  justify-content: space-around;
  /* padding-top:10px; */
}
.logo {
  margin: 0vw 1vw;
  /* margin-bottom: 10px; */
}

.landing {
  max-width: 100vw;
  width: 100vw;
  height: 100vh;
  background-image: url(Assets/m_merged.png);
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: 100vw;
  background-position: 100% 93.5%;
  background-size: cover;
}

.feature_image1 {
  height: 28vw;
}

.dashboardbtn {
  background: linear-gradient(90deg, #fd1d2b 0%, #e74186 100%);
  border-radius: 28.5px;
  border: none;
  outline: none;
  padding: 0.7rem 2.5rem;
  font-size: 18px;
  color: #ffffff;
  transition: all 0.3s ease-in;
}

.dashboardbtn:hover {
  background: linear-gradient(90deg, #e74186 0%, #fd1d2b 100%);
  color: white;
}

#shifter {
  width: 20vw;
}

#p1,
#p2,
#p3,
#p4,
#p5,
#p6 {
  padding-top: 0.15vw;
}
/* #i1 {
  width: 10vw !important;
} */

/* #i3 {
  width: 10vw !important;
} */

#jd {
  width: 5vw;
  height: 5vw;
}
/* MOBNAV */

@media (max-width: 767px) {
  nav {
    display: none;
  }
  .mobnav {
    position: absolute;
    left: 0;
    width: 100%;
  }
  .mobnav {
    height: 70px;
    display: flex;
  }
  .mobnav .logo {
    position: absolute;
    margin-left: 3vh;
    margin-top: 2vh;
  }

  .details {
    margin-top: 20%;
  }
  .movnav {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out, background 1s ease-out;
    transition: all 0.5s ease-out, background 1s ease-out;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    z-index: 1;
  }
  .mobnav .burger-container {
    position: absolute;
    right: 1rem;
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .mobnav .burger-container #burger {
    width: 24px;
    height: 8px;
    position: relative;
    display: block;
    margin: -4px auto 0;
    top: 80%;
  }
  .mobnav .burger-container #burger .bar {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    background: #fff;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
  .mobnav .burger-container #burger .bar.topBar {
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg);
  }
  .mobnav .burger-container #burger .bar.btmBar {
    -webkit-transform: translateY(6px) rotate(0deg);
    transform: translateY(6px) rotate(0deg);
  }
  .mobnav .icon {
    display: inline-block;
    position: absolute;
    height: 100%;
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .mobnav .icon.icon-bag {
    right: 0;
    top: 0;
    left: auto;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.5s
      cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transition-delay: 0.65s;
    transition-delay: 0.65s;
  }
  .mobnav ul.menu {
    margin-left: 1.5rem;
    position: relative;
    padding: 0px 24px;
    list-style: none;
    z-index: -1;
    margin-top: 60%;
    transform: translateX(-770px);
    width: 100vw;
    text-align: center;
  }
  .visible {
    z-index: 1 !important;
    display: block !important;
    transform: translateX(0px) !important;
  }
  .menu .login {
    box-shadow: none;
  }
  .mobnav ul.menu li.menu-item {
    margin-top: 5px;
    -webkit-transform: scale(1.15) translateY(-30px);
    transform: scale(1.15) translateY(-30px);
    opacity: 0;
    -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }
  .mobnav ul.menu li.menu-item:nth-child(1) {
    -webkit-transition-delay: 0.49s;
    transition-delay: 0.49s;
  }
  .mobnav ul.menu li.menu-item:nth-child(2) {
    -webkit-transition-delay: 0.42s;
    transition-delay: 0.42s;
  }
  .mobnav ul.menu li.menu-item:nth-child(3) {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
  }
  .mobnav ul.menu li.menu-item:nth-child(4) {
    -webkit-transition-delay: 0.28s;
    transition-delay: 0.28s;
  }
  .mobnav ul.menu li.menu-item:nth-child(5) {
    -webkit-transition-delay: 0.21s;
    transition-delay: 0.21s;
  }
  .mobnav ul.menu li.menu-item:nth-child(6) {
    -webkit-transition-delay: 0.14s;
    transition-delay: 0.14s;
  }
  .mobnav ul.menu li.menu-item:nth-child(7) {
    -webkit-transition-delay: 0.07s;
    transition-delay: 0.07s;
  }
  .mobnav ul.menu li.menu-item a {
    display: block;
    position: relative;
    color: #fff;
    font-weight: 100;
    text-decoration: none;
    font-size: 22px;
    line-height: 2.35;
    font-weight: 200;
    width: 100%;
  }
  .mobnav.menu-opened {
    height: 100%;
    background-color: #1a1627;
    -webkit-transition: all 0.3s ease-in, background 0.5s ease-in;
    transition: all 0.3s ease-in, background 0.5s ease-in;
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
    z-index: 100;
  }
  .mobnav.menu-opened .burger-container {
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .mobnav.menu-opened .burger-container #burger .bar {
    -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  .mobnav.menu-opened .burger-container #burger .bar.topBar {
    -webkit-transform: translateY(4px) rotate(45deg);
    transform: translateY(4px) rotate(45deg);
    margin-left: 1rem;
  }
  .mobnav.menu-opened .burger-container #burger .bar.btmBar {
    -webkit-transform: translateY(3px) rotate(-45deg);
    transform: translateY(3px) rotate(-45deg);
    margin-left: 1rem;
  }
  .mobnav.menu-opened ul.menu li.menu-item {
    -webkit-transform: scale(1) translateY(0px);
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  .mobnav.menu-opened ul.menu li.menu-item:nth-child(1) {
    -webkit-transition-delay: 0.27s;
    transition-delay: 0.27s;
  }
  .mobnav.menu-opened ul.menu li.menu-item:nth-child(2) {
    -webkit-transition-delay: 0.34s;
    transition-delay: 0.34s;
  }
  .mobnav.menu-opened ul.menu li.menu-item:nth-child(3) {
    -webkit-transition-delay: 0.41s;
    transition-delay: 0.41s;
  }
  .mobnav.menu-opened ul.menu li.menu-item:nth-child(4) {
    -webkit-transition-delay: 0.48s;
    transition-delay: 0.48s;
  }
  .mobnav.menu-opened ul.menu li.menu-item:nth-child(5) {
    -webkit-transition-delay: 0.55s;
    transition-delay: 0.55s;
  }
  .mobnav.menu-opened ul.menu li.menu-item:nth-child(6) {
    -webkit-transition-delay: 0.62s;
    transition-delay: 0.62s;
  }
  .mobnav.menu-opened ul.menu li.menu-item:nth-child(7) {
    -webkit-transition-delay: 0.69s;
    transition-delay: 0.69s;
  }
  .mobnav.menu-opened .icon.icon-bag {
    -webkit-transform: translateX(75px);
    transform: translateX(75px);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
}

/* HERO */
.hero-wrapper {
  width: 80vw;
  height: 45vw;
  margin: auto;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .hero-wrapper {
    height: 80vw;
  }
}

@media screen and (max-width: 1000px) {
  .hero-wrapper {
    height: 60vw;
  }
}

@media screen and (max-width: 880px) {
  .hero-wrapper {
    height: 90vh;
  }
}

@media screen and (max-width: 767px) {
  .hero-wrapper {
    height: 100vw;
  }
}

@media screen and (max-width: 720px) {
  .hero-wrapper {
    height: 150vw;
  }
}
/* .hero{
    width: 95%;
    margin-left: 5vw;
    align-items: center;
}

.hero h1{
    font-size: 4rem;
    color: #fff;
    padding-top: 5vw;
}

.hero p{
    padding: 0 2vw;
    margin: auto;
    font-size: 1.4rem;
    color: #89889C;
}

.herobtn{
    padding-top: 5vw;
    display: flex;
}

.herobtn ul:nth-of-type(1){
    display: flex;
    justify-content: flex-end;
}

.herobtn ul:nth-of-type(2){
    display: flex;
    justify-content: flex-start;
} */

/* Copy */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 3vw;
}

.main {
  color: #fff;
  text-align: center;
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading {
  font-size: 4rem;
  margin: 2vw 0;
  justify-content: center;
  font-weight: 700;
}

.subheading {
  color: #b7b1d5;
  justify-content: center;
  margin-top: 2vw;
  font-size: 1.4rem;
  line-height: 30px;
  /* padding: 0 10vw; */
  width: 45vw;
}

.feature_image {
  height: 20vw;
}

.feature_img {
  margin-left: 5vw;
}

#alt {
  margin-right: 5vw;
  margin-left: 0vw;
}

#para {
  font-size: 1.2vw;
  line-height: 1.8rem;
}

#subsection_head {
  font-size: 3vw;
}

.soon {
  height: 80vh;
}

.frequent {
  margin-top: 5vw;
}

.btns {
  font-family: hurmeSemiBold;
  border-radius: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  color: black !important;
  background-color: white;
  width: 240px;
  margin: 10px auto 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.twitterWrite,
.blueTwitter {
  margin-block-start: -2px;
  margin-block-end: -2px;
}

.blueTwitter {
  width: 1.4vw;
  margin-right: 6px;
}

.btns:hover {
  background-color: rgb(212, 209, 209);
}

.link2:hover {
  background-color: #9fa2aa;
  color: black;
}

.fa-2x {
  top: 6px;
  position: relative;
}

.list2 ul li a:hover {
  color: #fd1d2b;
}
ul li a:hover {
  color: #fd1d2b;
}
.pink {
  color: #ff5d86;
}

.link1 {
  color: #fff;
  background: linear-gradient(90deg, #fd1d2b 0%, #e74186 100%);
  border-radius: 28.5px;
  border: none;
  outline: none;
  padding: 0.8rem 3.3rem;
  font-size: 1rem;
}
.link1:hover {
  background: linear-gradient(90deg, #e74186 0%, #fd1d2b 100%);
}

.link2 {
  color: #fff;
  background: rgba(44, 40, 55, 1);
  border-radius: 28.5px;
  border: none;
  outline: none;
  padding: 0.8rem 3rem;
  font-size: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  white-space: nowrap;
}

.btn1,
.btn2 {
  margin: 0 1vw;
}

/* wrapper max-width */
.hero-wrapper {
  max-width: 1200px;
}

.section-2-wrapper {
  max-width: 1200px;
}

.section-3-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.section-4-wrapper {
  max-width: 1200px;
  margin: 0vw auto 0px auto;
}

.section-5-wrapper {
  width: 100vw;
  background-color: #221d31;
  /* max-width: 1200px; */
  margin: 0 auto;
}

/* Animation signs */
#sign-1 {
  position: relative;
  top: 22vw;
  left: -5vw;
  display: inline;
  /* visibility: hidden; */
}

#sign-2 {
  position: relative;
  top: 23.5vw;
  left: -13vw;
  display: inline;
}
#sign-3 {
  position: relative;
  top: 25vw;
  left: -21vw;
  display: inline;
}
#sign-4 {
  position: relative;
  top: 0vw;
  left: 29.24vw;
  display: inline;
}
#sign-5 {
  position: relative;
  top: 3.655vw;
  left: -29.24vw;
  display: inline;
}

#sign-6 {
  position: relative;
  top: 3.655vw;
  left: -35.75vw;
  display: inline;
}
#sign-7 {
  position: relative;
  top: 18.275vw;
  left: 7.31vw;
  display: inline;
}

#star1 {
  position: absolute;
  left: 100vw;
  bottom: 40%;
  display: inline;
  transition: 1s;
}

#star2 {
  position: absolute;
  left: 100vw;
  bottom: 50%;
  display: inline;
  transition: 3s;
}

#star3 {
  position: absolute;
  top: 0vw;
  left: 10vw;
  display: inline;
  transition: 2s;
  /* -webkit-animation: bar 7s ease; */
}

#star4 {
  position: absolute;
  top: 0vw;
  left: 20vw;
  display: inline;
  transition: 3s;
}

@media (min-width: 1950px) {
  .hero-wrapper {
    height: 34vw;
  }
}

@media screen and (max-width: 376x) {
  .hero-wrapper {
    height: 140vw;
  }
}

@media screen and (max-width: 400px) {
  .hero-wrapper {
    height: 120vw;
  }
}

@media screen and (max-width: 600px) {
  .hero-wrapper {
    width: 80vw;
  }
}

@media screen and (max-width: 560px) {
  .heading {
    font-size: 3rem;
  }
}

@media screen and (max-width: 767px) {
  /* .hero-wrapper{
        height: 100vw;
    } */
  .main {
    margin-top: 20vw;
  }
}

@media screen and (max-width: 480px) {
  .main {
    margin-top: 40vw;
  }
  .heading {
    font-size: 2rem;
  }
  .subheading {
    font-size: 1rem;
  }
}

/* 2nd part */

/* body{
    margin: none;
    padding: none;
    box-sizing: border-box;
    background-color: #1A1627;
} */

.grid-container {
  width: 100vw;
  height: 100vw;
  background: #1a1627;
  margin: none;
  padding: none;
}

@media (max-width: 1600px) {
  .hero {
    margin-top: 0vw;
  }
  .heading {
    font-size: 4vw;
  }
  .subheading {
    font-size: 1.2vw;
  }
}

@media screen and (max-width: 1200px) {
  .grid-container {
    height: 120vw;
  }
}
@media screen and (max-width: 1000px) {
  .grid-container {
    height: 150vw;
  }
}

@media screen and (max-width: 900px) {
  .grid-container {
    height: 170vw;
  }
}

@media screen and (max-width: 800px) {
  .grid-container {
    height: 190vw;
  }
}

@media screen and (max-width: 767px) {
  .grid-container {
    height: 350vw;
  }
}

@media screen and (max-width: 700px) {
  .grid-container {
    height: 400vw;
  }
}

@media screen and (max-width: 650px) {
  .grid-container {
    height: 425vw;
  }
}

@media screen and (max-width: 600px) {
  .grid-container {
    height: 450vw;
  }
}

@media screen and (max-width: 550px) {
  .grid-container {
    height: 475vw;
  }
}

@media screen and (max-width: 500px) {
  .grid-container {
    height: 500vw;
  }
}

@media screen and (max-width: 475px) {
  .grid-container {
    height: 525vw;
  }
}

@media screen and (max-width: 450px) {
  .grid-container {
    height: 550vw;
  }
}

@media screen and (max-width: 430px) {
  .grid-container {
    height: 650vw;
  }
}

@media screen and (max-width: 410px) {
  .grid-container {
    height: 700vw;
  }
}

@media screen and (max-width: 395px) {
  .grid-container {
    height: 750vw;
  }
}

@media screen and (max-width: 370px) {
  .grid-container {
    height: 800vw;
  }
}

@media screen and (min-width: 1500px) {
  .grid-container {
    height: 85vw;
  }
}

.grid-wrapper {
  width: 80vw;
  max-width: 1200px;
  height: 100%;
  background-color: #1a1627;
  margin: 10px auto;
}

.grid-contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

@media screen and (max-width: 767px) {
  .grid-contents {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.grid-box-1 {
  align-items: center;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
}

.grid-box-1 h3 {
  color: #fff;
  font-size: 1.875rem;
  font-weight: 700;
}

.grid-box-1 p {
  color: rgba(137, 136, 156, 1);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
}

.grid-box-2 {
  align-items: center;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
}

.grid-box-2 h3 {
  color: #fff;
  font-size: 1.875rem;
  font-weight: 700;
}

.grid-box-2 p {
  color: rgba(137, 136, 156, 1);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
}

.grid-box-3 {
  background: rgba(34, 29, 49, 1);
  padding: 28px 30px;
  height: 20vw;
  max-height: 240px;
  border-radius: 15px;
  max-width: 520px;
}

.grid-box-3 .inner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.grid-box-3 h2 {
  color: rgba(62, 213, 45, 1);
  font-size: 1.125rem;
  padding-left: 10px;
  display: inline-block;
  font-weight: 600;
}

/* TOGGLER */
.lbl {
  position: relative;
  display: inline-block;
  height: 28px;
  width: 50px;
  top: 10px;
  left: -0.5vw;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
  float: right;
}

.lbl:after {
  position: absolute;
  left: 4px;
  top: 2.9px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 3px 3px rgb(0 0 0 / 5%);
  content: "";
  transition: all 0.3s ease;
}

.lbl:active:after {
  transform: scale(1.15, 0.85);
}

.cbx:checked ~ label {
  background: rgba(197, 58, 58, 1);
}

.cbx:checked ~ label:after {
  left: 23px;
  background: #fff;
}

.cbx:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}

.cbx:disabled ~ label:after {
  background: #bcbdbc;
}

.hidden {
  display: none;
}

/* END OF TOGGLE */

.inner-grid-1 {
  /* align-items: center; */
  margin: 5px auto;
  height: 5vw;
  width: 10vw;
  text-align: center;
  background-color: rgba(48, 42, 66, 1);
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.5vw;
  max-width: 160px;
  max-height: 70px;
}

.inner-grid-2 {
  align-items: center;
  margin: 5px auto;
  text-align: center;
  height: 5vw;
  width: 10vw;
  background-color: rgba(48, 42, 66, 1);
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.5vw;
  max-width: 160px;
  max-height: 70px;
}

.inner-grid-3 {
  align-items: center;
  margin: 5px auto;
  text-align: center;
  height: 5vw;
  width: 10vw;
  background-color: rgba(48, 42, 66, 1);
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.5vw;
  max-width: 160px;
  max-height: 70px;
}

.inner-grid-4 {
  align-items: center;
  margin: 5px auto;
  text-align: center;
  height: 5vw;
  width: 10vw;
  background-color: rgba(48, 42, 66, 1);
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.5vw;
  max-width: 160px;
  max-height: 70px;
}

.inner-grid-5 {
  align-items: center;
  margin: 5px auto;
  text-align: center;
  height: 5vw;
  width: 10vw;
  background-color: rgba(48, 42, 66, 1);
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.5vw;
  max-width: 160px;
  max-height: 70px;
}

.inner-grid-6 {
  align-items: center;
  margin: 5px auto;
  text-align: center;
  height: 5vw;
  width: 10vw;
  background-color: rgba(48, 42, 66, 1);
  border-radius: 10px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.5vw;
  max-width: 160px;
  max-height: 70px;
}

.inner-grid .inner-grid-1:hover {
  background-color: rgba(197, 58, 58, 1) !important;
}

.inner-grid .inner-grid-2:hover {
  background-color: rgba(197, 58, 58, 1);
}

.inner-grid .inner-grid-3:hover {
  background-color: rgba(197, 58, 58, 1);
}

.inner-grid .inner-grid-4:hover {
  background-color: rgba(197, 58, 58, 1);
}

.inner-grid .inner-grid-5:hover {
  background-color: rgba(197, 58, 58, 1);
}

.inner-grid .inner-grid-6:hover {
  background-color: rgba(197, 58, 58, 1);
}

/* GRID-BOX BTN */

/* GRID-BOX-4 */
.grid-box-4 {
  background: rgba(34, 29, 49, 1);
  padding: 28px 0px 28px 30px;
  height: 20vw;
  border-radius: 15px;
  max-width: 530px;
  max-height: 240px;
}

.vert_tab {
  float: left;
  color: #775dff;
  font-family: "Montserrat", sans-serif;

  width: 39.5%;
  height: 15vw;
}

.vert_tab button {
  display: block;
  font-family: "Montserrat", sans-serif;
  background-color: inherit;
  color: #9fa2aa;
  font-weight: 500;
  padding: 1vw 0.3vw;
  width: 100%;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.5vw;
  margin-bottom: 0.5vw;
}

.vert_tab:nth-of-type(1) {
  padding-top: 20px;
}
.vert_tab button.active {
  color: #fff;
  background-color: #302a42;
  border-radius: 5px;
}

#vertpara {
  font-size: 1vw;
  line-height: 20px;
  color: #b7b1d5;
  padding-left: 10px !important;
}

@media screen and (max-width: 425px) {
  #verthead {
    float: left;
    padding-left: 10px;
  }
  #vertpara {
    float: left;
    width: 65%;
    line-height: 10px;
  }
}

/* .vert_tab button:hover{
    background-color: #302A42;
    border-radius: 10px;
} */

.tabcontent {
  /* float: left; */
  padding: 1vw 12px;
  color: #fff;
  width: 100%;
  border-left: none;
  height: 18vw;
}

.tabcontent img {
  height: 15vw;
  max-height: 220px;
  padding-left: 2vw;
}

.g-4-pad {
  padding-left: 1vw;
}

@media screen and (max-width: 767px) {
  .vert_tab button {
    font-size: 1.6rem;
  }
  #vertpara {
    font-size: 2vw;
  }
}

@media screen and (max-width: 560px) {
  .vert_tab button {
    font-size: 4vw;
  }
  #vertpara {
    font-size: 2vw;
  }
}

/* END */
@media screen and (max-width: 420px) {
  .grid-contents .grid-box-3 {
    height: 45vw !important;
  }
}

@media screen and (max-width: 568px) {
  .grid-contents .grid-box-3 {
    height: 42vw;
  }
  .grid-contents .grid-box-4 {
    height: 40vw;
  }
}

@media screen and (max-width: 767px) {
  .grid-box-3 {
    height: 35vw;
  }
  .grid-box-4 {
    margin-top: 5vw;
    height: 35vw;
  }

  .inner-grid-1 {
    width: 20vw;
    height: 10vw;
    font-size: 3vw;
  }
  .inner-grid-2 {
    width: 20vw;
    height: 10vw;
    font-size: 3vw;
  }
  .inner-grid-3 {
    width: 20vw;
    height: 10vw;
    font-size: 3vw;
  }
  .inner-grid-4 {
    width: 20vw;
    height: 10vw;
    font-size: 3vw;
  }
  .inner-grid-5 {
    width: 20vw;
    height: 10vw;
    font-size: 3vw;
  }
  .inner-grid-6 {
    width: 20vw;
    height: 10vw;
    font-size: 3vw;
  }
}

@media screen and (min-width: 1100px) {
  .grid-box-3 {
    height: 18vw;
  }
  .grid-box-4 {
    height: 18vw;
  }
}

@media screen and (min-width: 1400px) {
  .grid-box-3 {
    height: 17vw;
  }
  .grid-box-4 {
    height: 17vw;
  }
}

@media screen and (min-width: 1700px) {
  .grid-box-3 {
    height: 16vw;
  }
  .grid-box-4 {
    height: 16vw;
  }
}

/* GRID-BOX-5 */

.grid-box-5 {
  margin-top: 10vw;
  padding: 3px 30px;
  height: 20vw;
  border-radius: 15px;
}

.grid-box-5 h3 {
  color: #fff;
  font-size: 1.875rem;
  font-weight: 700;
}

.grid-box-5 p {
  color: rgba(137, 136, 156, 1);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
}

.grid-box-6 {
  margin-top: 10vw;
  padding: 3px 30px;
  height: 20vw;
  border-radius: 15px;
}

.grid-box-6 h3 {
  color: #fff;
  font-size: 1.875rem;
  font-weight: 700;
}

.grid-box-6 p {
  color: rgba(137, 136, 156, 1);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
}

.grid-box-7 {
  margin-top: 15vw;
  padding: 3px 30px;
  height: 20vw;
  border-radius: 15px;
}

.grid-box-7 h3 {
  color: #fff;
  font-size: 1.875rem;
  font-weight: 700;
}

.grid-box-7 p {
  color: rgba(137, 136, 156, 1);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
}

.grid-box-8 {
  margin-top: 15vw;
  padding: 3px 30px;
  height: 20vw;
  border-radius: 15px;
}

.grid-box-8 h3 {
  color: #fff;
  font-size: 1.875rem;
  font-weight: 700;
}

.grid-box-8 p {
  color: rgba(137, 136, 156, 1);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 28px;
}

@media screen and (max-width: 430px) {
  .grid-box-6 {
    height: 250px;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .grid-box-7 {
    height: 250px;
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .grid-box-8 {
    height: 250px;
    /* padding-top: 150px; */
  }
}

@media screen and (max-width: 500px) {
  .grid-box-8 {
    padding-top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .grid-box-5 {
    margin-top: 50px;
    height: 200px;
  }
  .grid-box-6 {
    margin-top: 50px;
    height: 200px;
  }
  .grid-box-7 {
    margin-top: 50px;
    height: 200px;
  }
  .grid-box-8 {
    margin-top: 50px;
    height: 200px;
  }
}

@media screen and (max-width: 825px) {
  .grid-box-7 {
    padding-top: 10vw;
  }
  .grid-box-8 {
    padding-top: 10vw;
  }
}

@media screen and (min-width: 900px) {
  .grid-box-5 {
    margin-top: 5vw;
  }
  .grid-box-6 {
    margin-top: 5vw;
  }
  .grid-box-7 {
    margin-top: 5vw;
  }
  .grid-box-8 {
    margin-top: 5vw;
  }
}

@media screen and (min-width: 1200px) {
  .grid-box-5 {
    margin-top: 4vw;
    height: 15vw;
  }
  .grid-box-6 {
    margin-top: 4vw;
    height: 15vw;
  }
  .grid-box-7 {
    margin-top: 0vw;
    height: 15vw;
  }
  .grid-box-8 {
    margin-top: 0vw;
    height: 15vw;
  }
}

/* SECTION - 3 */

.section-3-wrapper {
  width: 100vw;
  height: 60vw;
}

.supported_websites {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #1a1627;
  max-height: 300px;
}

.supported_websites h3 {
  background-image: linear-gradient(90deg, #fd1d2b 0%, #e74186 40%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  /* text-fill-color: transparent; */
  font-size: 40px;
  padding-bottom: 20px;
}

.websites {
  display: flex;
  flex-direction: column;
}

.website-row-1 {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.website-row-2 {
  display: flex;
  justify-content: space-around;
}

.website-col-1 {
  background: rgba(255, 105, 0, 1);
  height: 9.2vw;
  width: 17vw;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  max-width: 285px;
  align-items: center;
}

.website-col-1 img {
  width: 8vw;
}

.website-col-2 {
  background: #fff;
  height: 9.2vw;
  width: 19vw;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  max-width: 285px;
  align-items: center;
}

.website-col-2 img {
  width: 8.5vw;
}

.website-col-3 {
  background: rgba(253, 29, 43, 1);
  height: 9.2vw;
  width: 19vw;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  max-width: 285px;
  align-items: center;
}

.website-col-3 img {
  width: 8vw;
}

.website-col-4 {
  background: #fff;
  height: 9.2vw;
  width: 19vw;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  max-width: 285px;
  align-items: center;
}

.website-col-4 img {
  width: 10vw;
}

.website-col-5 {
  background: #eaf4ec;
  height: 9vw;
  width: 15vw;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  max-width: 220px;
  align-items: center;
}

.website-col-5 img {
  width: 5vw;
}

.website-col-6 {
  background: rgba(195, 23, 53, 1);
  height: 9vw;
  width: 15vw;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  max-width: 220px;
  align-items: center;
}

.website-col-6 img {
  width: 5vw;
}

.website-col-7 {
  background: #fff;
  height: 9vw;
  width: 15vw;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  max-width: 220px;
  align-items: center;
}

.website-col-7 img {
  width: 8vw;
}

.website-col-8 {
  background: rgba(247, 92, 26, 1);
  height: 9vw;
  width: 15vw;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  max-width: 220px;
  align-items: center;
}

.website-col-8 img {
  width: 7vw;
}

.website-col-9 {
  background: #fff;
  height: 9vw;
  width: 15vw;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  max-width: 230px;
  align-items: center;
}

.website-col-9 img {
  width: 8vw;
}

.website-row-3 {
  margin-top: 1vw;
  width: 100%;

  color: #fff;
  background-color: rgba(34, 29, 49, 1);
  font-size: 1.5vw;
  text-align: center;
  border-radius: 8px;
  max-width: 1200px;
  max-height: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.website-row-3 h4 {
  padding-top: 1vw;
}

/* FAQ */

/* .clearfix {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 2rem;
    max-width: 1200px;
    margin: 0 auto;
} */

.clearfix1 .acc_feature_subheading h2 {
  display: flex;
  justify-content: flex-start;
  float: left;
}

#fleft {
  padding-right: 20vw;
}

.acc_feature_subheading {
  background-image: linear-gradient(90deg, #fd1d2b 0%, #e74186 50%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  /* text-fill-color: transparent; */
  font-size: 4vw;
}

.FAQ_with_kutta {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  background-color: #1a1627;
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
}

.FAQ {
  background-color: #1a1627;
  margin-top: 100px;
  padding-top: 50px;
}

.FAQ_with_kutta {
  display: flex;
  padding-bottom: 3rem;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: space-between;
  margin-bottom: 5vw;
}

.accordian {
  width: 100%;
  /* max-width: 1000px; */
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordian-item {
  border: 1px solid #242329;
  background-color: #221d31;
  color: #fff;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  width: 100%;
}

.accordian-item-header {
  padding: 0.5rem 3rem 0.5rem 2rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordian-item-header::after {
  content: url("./assets/Plus.svg");
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  right: 1rem;
  /* transition: all 0.2s ease; */
}

.accordian-item-header.active::after {
  content: url("./assets/Minus.svg");
}

.accordian-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordian-item-body-content {
  padding: 1rem;
  line-height: 1.5;
}

.accordian-item-body-content p {
  color: #827f7f;
}

/* NEW FOOTER */
.upper_footer {
  display: flex;
  flex-wrap: wrap;
  width: 85vw;
  justify-content: space-between;
  padding-top: 5vh;
  margin: 0px auto;
  margin-bottom: 5vh;
  max-width: 1200px;
}

.social_icon {
  color: #fff;
}

.social_icon:hover {
  color: #ff5d86;
}

.twitter_icon {
  color: rgb(29, 161, 242);
}

footer {
  background: #221d31;
  padding-bottom: 1vw;
}

.logo_name {
  color: #fff;
}

.list {
  color: #fff;
}

.list ul li {
  cursor: pointer;
}

.list ul li:hover {
  color: #775dff;
}

.footer_conclude {
  display: flex;
  justify-content: center;
  color: #fff;
  padding-top: 5vh;
  border-top: 1.5px solid #302a52;
}

.list2 a {
  color: #fff;
  cursor: pointer;
  margin-left: 15px;
}

#l2 a:nth-of-type(1) {
  color: rgba(231, 65, 134, 1);
}

#l2 a:nth-of-type(2) {
  color: rgba(253, 29, 43, 1);
}

/* END OF NEW FOOTER */

@media (min-width: 1200px) {
  .inner-grid-1 {
    font-size: 18px !important;
    text-align: center;
    align-items: center;
  }
  .inner-grid-2 {
    font-size: 18px !important;
  }
  .inner-grid-3 {
    font-size: 18px !important;
  }
  .inner-grid-4 {
    font-size: 18px !important;
  }
  .inner-grid-5 {
    font-size: 18px !important;
  }
  .inner-grid-6 {
    font-size: 18px !important;
  }

  .vert_tab button {
    font-size: 18px !important;
    max-height: 120px;
    padding: 12px 17px;
  }

  .website-row-3 {
    font-size: 24px;
  }

  #fleft {
    font-size: 40px;
  }
}

@media (min-width: 1400px) {
  .tabcontent img {
    padding-left: 20px;
    height: 210px;
    width: 300px;
  }
}

@media (max-width: 1200px) {
  nav {
    margin: 1vw 4vw 0 4vw;
  }
}

@media (max-width: 767px) {
  .tabcontent img {
    height: 35vw;
    /* max-height: 220px; */
    padding-left: 3vw;
  }
}

@media (min-width: 1200px) {
  .grid-container {
    height: 1300px;
  }
  .section-3-wrapper {
    height: 800px;
    margin-top: 8vw;
  }
  .supported_websites {
    height: 400px;
  }
}
@media (max-width: 1025px) {
  .heading {
    font-size: 3.5rem;
    width: 60vw;
  }
  .subheading {
    margin-top: 50px;
    width: 75vw;
    font-size: 1.75rem;
  }
  .buttons {
    margin-top: 6rem;
  }
  .link1,
  .link2 {
    padding: 1rem 5rem;
  }

  #sign-3 {
    top: 70vw;
  }

  #sign-2 {
    top: 65.702vw;
  }
  #sign-1 {
    top: 60.778vw;
  }
  #sign-7 {
    top: 60.275vw;
    left: 0vw;
  }
  .section-3-wrapper {
    margin-top: 14vw;
    width: 100vw;
    height: 35vh;
  }
  .vert_tab {
    width: 36.5%;
  }
}
@media (max-width: 769px) {
  .grid-box-3,
  .grid-box-4 {
    height: 23vw;
    border-radius: 10px;
    padding: 10px 10px;
  }
  .inner-grid-1,
  .inner-grid-2,
  .inner-grid-3,
  .inner-grid-4,
  .inner-grid-5,
  .inner-grid-6 {
    border-radius: 5px;
  }
  .vert_tab {
    width: 40.5%;
  }
  .tabcontent img {
    padding-top: 20px;
  }
  .vert_tab button {
    padding-left: 10px;
  }
  #sign-3 {
    top: 100vw;
  }
  #sign-2 {
    top: 93.702vw;
  }
  #sign-1 {
    top: 85.778vw;
  }
  #sign-7 {
    top: 90.275vw;
    left: -5vw;
  }
  #sign-4 {
    top: 40vw;
    left: 35.24vw;
  }
  #star3 {
    top: 60vw;
  }
  .list2 {
    margin-left: -40px;
  }
  .grid-box-7,
  .grid-box-8 {
    padding-top: 20vw;
  }
  .section-3-wrapper {
    margin-top: 28vw;
  }
  .website-row-1 {
    padding-bottom: 10px;
  }
  .website-row-3 {
    margin-top: 2.5vw;
    width: 100%;
    color: #fff;
    background-color: rgba(34, 29, 49, 1);
    font-size: 2.5vw;
    text-align: center;
    border-radius: 8px;
    max-width: 1200px;
    max-height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .supported_websites h3 {
    padding-bottom: 0px;
  }
  .section-4-wrapper {
    margin: 5vw auto 0px auto;
  }
}
@media (max-width: 767px) {
  .landing {
    max-width: 100vw;
    height: 100vh;
  }
  .tabcontent {
    font-size: 1vw;
  }
  .vert_tab button {
    padding: 2vw 0vw;
    font-size: 3vw;
  }
  #verthead {
    font-size: 4vw;
  }
  #vertui {
    height: 35vw;
    margin-top: 0px;
  }
  #vertpara {
    font-size: 3vw;
    color: #b7b1d5;
    font-family: "hurmeLight";
    width: 55vw;
    line-height: 18px;
  }
  .heading {
    font-size: 6vw;
  }
  .subheading {
    margin: 1vw 0;
    font-size: 2vw;
  }
  .link1 {
    padding: 0.7rem 1.5rem;
  }
  .link2 {
    padding: 0.7rem 1.5rem;
  }
  .logo_and_text1 {
    display: -webkit-inline-box;
  }
  .list2 a {
    margin-left: 0px;
  }
}

@media (max-width: 480px) {
  .upper_footer {
    flex-direction: column;
    padding-top: 4vw;
  }
}

@media (max-width: 560px) {
  .section-3-wrapper {
    height: 120vw;
    margin-top: 50vw;
  }
  .website-row-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    height: 47vw;
    padding-bottom: 0px;
  }
  .website-row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 70vw;
  }
  .website-col-1 {
    width: 37vw;
    height: 20vw;
    max-width: 150px;
  }
  .website-col-2 {
    width: 37vw;
    height: 20vw;
    max-width: 150px;
  }
  .website-col-3 {
    width: 37vw;
    height: 20vw;
    max-width: 380px;
  }
  .website-col-4 {
    width: 37vw;
    height: 20vw;
    max-width: 380px;
  }
  .website-col-5 {
    width: 37vw;
    height: 20vw;
    max-width: 380px;
  }
  .website-col-6 {
    width: 37vw;
    height: 20vw;
    max-width: 380px;
  }
  .website-col-7 {
    width: 37vw;
    height: 20vw;
    max-width: 380px;
  }
  .website-col-8 {
    width: 37vw;
    height: 20vw;
    max-width: 380px;
  }
  .website-col-9 {
    width: 37vw;
    height: 20vw;
    max-width: 380px;
    visibility: hidden;
  }
  .list {
    margin-left: -30px;
  }
  .list2 {
    margin-left: -40px;
  }
  .list2 a {
    margin-left: 10px;
  }
  .heading {
    width: 55vw;
  }
  .subheading {
    margin: 8vw 0;
    font-size: 0.75rem;
    width: 75vw;
  }
  .link1,
  .link2 {
    padding: 0.7rem 1.75rem;
  }
  #sign-5 {
    top: 30.655vw;
  }
  #sign-6 {
    top: 26.655vw;
    left: -50.55vw;
  }
  .buttons {
    margin-top: 2rem;
  }
  #sign-7 {
    top: 140.275vw;
  }
  #sign-3 {
    top: 155vw;
  }
  #sign-2 {
    top: 147.702vw;
  }
  #sign-1 {
    top: 140.778vw;
  }
  #sign-4 {
    top: 50vw;
  }
  .section-2-wrapper {
    margin-top: 30vw;
  }
  .grid-box-1 p,
  .grid-box-2 p {
    font-size: 1rem;
    line-height: 25px;
  }
  .grid-box-1 h3,
  .grid-box-2 h3 {
    font-size: 1.5rem;
  }
  #sign-1 img,
  #sign-2 img,
  #sign-3 img,
  #sign-4 img,
  #sign-5 img,
  #sign-6 img,
  #sign-7 img {
    width: 3vw;
  }
  .grid-box-1 {
    order: 1;
  }
  .grid-box-2 {
    order: 3;
  }
  .grid-box-3 {
    order: 2;
  }
  .grid-box-4 {
    order: 4;
  }
  .grid-box-5 {
    order: 5;
    padding: 0px;
  }
  .grid-box-6 {
    order: 6;
    padding: 0px;
  }
  .grid-box-7 {
    order: 7;
    padding: 0px;
  }
  .grid-box-8 {
    order: 8;
    padding: 0px;
    margin-top: 30vw;
  }
  .grid-contents .grid-box-4 {
    height: 47vw;
    border-radius: 8px;
  }
  .grid-contents .grid-box-3 {
    border-radius: 8px;
  }
  .vert_tab button {
    padding-left: 8px;
  }
  .grid-box-5 h3,
  .grid-box-6 h3 {
    font-size: 1.5rem;
  }
  .grid-box-5 p,
  .grid-box-6 p,
  .grid-box-7 p,
  .grid-box-8 p {
    font-size: 1rem;
    line-height: 25px;
  }
  .grid-container {
    height: 610vw;
  }

  .supported_websites h3 {
    font-size: 1.5rem;
  }
  .accordian-item-header {
    padding: 0rem 1rem 0rem 1rem;
    font-size: 0.8rem;
  }
  .accordian-item-body-content {
    font-size: 0.8rem;
  }
  .website-col-2 img {
    width: 17vw;
  }
  .website-col-1 img {
    width: 19vw !important;
  }
  .website-col-4 img {
    width: 20vw;
  }
  .website-col-6 img {
    width: 10vw;
  }
  .website-col-3 img {
    width: 18vw;
  }
  .website-col-5 img {
    width: 10vw;
  }
  .website-col-7 img {
    width: 17vw;
  }
  .website-col-8 img {
    width: 17vw;
  }
  .accordian-item-header::after {
    transform: scale(0.5);
  }
  .website-row-3 {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -20vw;
    height: 10vw;
  }
  .website-row-3 > p {
    font-size: 0.7rem;
  }
  .section-4-wrapper {
    margin-top: 20vw;
  }
  #fleft {
    font-size: 1.5rem;
  }
  .inner-grid-1,
  .inner-grid-2,
  .inner-grid-3,
  .inner-grid-4,
  .inner-grid-5,
  .inner-grid-6 {
    width: 23vw;
    height: 12vw;
  }
  .grid-box-3 .inner-grid {
    gap: 0px;
  }
  #p1,
  #p2,
  #p3,
  #p4,
  #p5,
  #p6 {
    padding-top: 1.1vw;
  }
  .vert_tab {
    width: 35.5%;
  }
  #star3 {
    top: 0vw;
    left: 5vw;
  }
  #star3 img,
  #star4 img {
    height: 40vw;
  }
  .grid-box-3 h2 {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .lbl {
    height: 24px;
    width: 45px;
    top: 12px;
  }
  .lbl:after {
    width: 18px;
    height: 18px;
  }
  .logo img {
    width: 65px;
  }
}
@media (min-width: 376px) and (max-width: 430px) {
  .grid-container {
    height: 570vw;
  }
  .section-2-wrapper {
    margin-top: 20vw;
  }
}
@media (max-width: 320px) {
  .section-3-wrapper {
    margin-top: 165vw;
    width: 100vw;
  }
  .grid-box-8 {
    padding-top: 30vw;
  }
  .section-4-wrapper {
    margin-top: 40vw;
  }
}
@media (min-width: 1925px) {
  #sign-6 {
    left: -32.75vw;
  }
}
